@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e2;
  --color-primary-200: #fecaca;
  --color-primary-300: #fca5a5;
  --color-primary-400: #f87171;
  --color-primary-500: #ef4444;
  --color-primary-600: #dc2626;
  --color-primary-700: #b91c1c;
  --color-primary-800: #991b1b;
  --color-primary-900: #7f1d1d;
  --color-primary-950: #450a0a;

  --color-meat-50: #fdf4f3;
  --color-meat-100: #fce7e4;
  --color-meat-200: #fad3ce;
  --color-meat-300: #f5b4ab;
  --color-meat-400: #ed877a;
  --color-meat-500: #e15f4f;
  --color-meat-600: #cd4434;
  --color-meat-700: #ac3628;
  --color-meat-800: #8e3025;
  --color-meat-900: #772d25;
  --color-meat-950: #40140f;
}

html {
  font-family: var(--font-sans);
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
